<html>
  
  <body style="background-color: white">
  <h3 style="color:purple;font-size: 30px; text-align: center"><b>All Medicines</b></h3><br>
    <div class="row">
    <div class="column" style="background-color:white;">
      <h3 style="color:blue;background-color: lightblue">Rajgira: Uses, Side Effects, Composition & Dosages</h3><br>
      <p style="color:blue;font-size: 15px;">Rajgira which is derived from the Amarnath plant is used in India for various purposes including the formation of medicine. It is used in the treatment of diarrhea, ulcer, swollen throat and mouth. It is highly used in India to bring down the high cholesterol level. As a food, it is used in the form of cereal grain.
          Let us understand its nature closely by discussing all the nutritional value it provides in one-fourth cup:
         <li class="xyz">1. Carbohydrates (32.4 g)</li>
         <li  class="xyz">2. Protein (7.1 g)</li> 
          <li class="xyz">3. Calories (183)</li>
          <li class="xyz">4. Cholesterol (0Mg)</li>
         <li class="xyz">5. Calcium (75 Mg)</li>
         <li class="xyz">6. Sodium (10.5 Mg)</li>
          <li class="xyz">7. Saturated Fat (0.8 g)</li>
         <li class="xyz">8.  Potassium (179.5 mg)</li>
          <li class="xyz">9. Magnesium (130 Mg)</li>
         <li class="xyz">10. Phosphorous (223 Mg)</li>
          <li class="xyz">11. Iron (3.71 Mg)</li>
          <li class="xyz">12. Zinc (1.6 Mg)</li>
        </p>
        <h4 style="color:red">How Rajgira works?</h4>
        <p style="color:blue">As Rajgira has a property of reducing swelling, it works well to treat certain conditions like swelling of throat, face etc.</p>
            <h4 style="color:red">Side-Effects of Rajgira:</h4>
          <p style="color:blue">There are no established or tested side effects of Rajgira. However, it may cause allergy. There are no suitable evidences to prove, if Rajgira is safe/unsafe for the pregnant/breastfeeding mother. It is better to consult your doctor first before including in the daily diet of pregnant woman or breast-feeding mothers.</p>
         <h4 style="color:red">Uses of Rajgira:</h4> 
         <p style="color:blue">There are various uses of Rajgira. Rajgira is abundantly used in India:</p>
          <p style="color:blue">1.As an antioxidant agent</p>
          <p style="color:blue">2.For Improving Bone Quality</p>
          <p style="color:blue">3.For Improving Digestion</p>
          <p style="color:blue">4.As a Gluten Free Substance</p>
          <p style="color:blue">5.To lower the level of Cholesterols</p>
          <p style="color:blue">6.To Prevent Atherosclerosis</p>
          <br><br><br>
          
          <h3 style="color:blue;background-color: lightblue">Lonazep : Uses, Side Effects & Dosages</h3>
          <p style="color:blue">Lonazep is an anxiolytic and an anti-convulsant medication which belongs to the benzodiazepine group of sedatives. It is used for the management of epilepsy, seizures, managing the coordination and movement disorder akasthesia, panic disorder, anxiety, panic attacks, certain phobic reactions and insomnia. It is also used for psychiatric disorders that underlay anxiety neurosis and against convulsions of different causation as well. 
            Lonazep is manufactured in India by the Sun Pharmaceutical Company.</p>
            <h4 style="color:red">Lonazep Tablet Composition and Nature</h4>
            <p style="color:blue">Lonazep contains Clonazepam which is a benzodiazepine variant. It functions by manipulating the signalling and reception of neurotransmitters in the area of the brain to arrest seizures and also to alleviate anxiety. Clonazepam can cross the blood brain barrier and it is a Central Nervous System(CNS) depressant.</p>
          <h4 style="color:red">Lonazep Tablet Uses:</h4>
          <p style="color:blue">Besides being an anti-convulsant, Lonazep is also an anxiolytic and sedative. It begins to have an effect within an hour or so and it can last anywhere between 6 and 12 hours.<br>
           1.Seizures<br>
            2.Panic disorder and social phobia with or without agoraphobia<br>
            3.Movement disorder known as akathisia<br>
            4.It is used to treat anxiety<br>
            5.Anxiety and depression comorbidity<br>
            6.Insomnia<br>
            7.Post-Traumatic Stress Disorder<br>
            8.Alcohol withdrawal symptoms or delirium tremens<br>
            9.Akasthisia, a movement disorder<br></p>
            <h4 style="color:red">Lonazep Tablet Side Effects:</h4>
            <p style="color:blue">There remains a set of incidental or side effects related to the psychotropic drugs especially benzodiazepines.<br>The drug can cause symptoms like:
              1.Dizziness, drowsiness and confusion<br>
              2.It may interfere with memory<br>
              3.It depresses the Central Nervous System and respiratory paralysis if overdosed upon<br>
              4.Erectile dysfunction<br>
              5.Constipation<br>
              6.Urinary retention<br>
              7.Dependence<br>
              8.Withdrawal symptoms</p>
          <h3 style="color:red">Lonazep Tablet Dosage:</h3>
          <p style="color:blue">Take Lonazep strictly according to the prescribed dosage as prescribed by your physician. Any deviation from the prescription can prove dangerous. The medication has to be taken at a specific time or times of the day which will be precisely informed to you by your medical practitioner.
           <br>If ever you miss a dose, it can be remedied by taking the tablet as soon as one remembers it; if the second dosage time is imminent then you can skip the forgotten dose. Do not duplicate the dose in any circumstances.</p>
          </div>
    <div class="column" style="background-color:white;">
      <h3 style="color:blue;background-color: lightblue">Diclomol Tablet : Uses, Side Effects and Dosages</h3>
      <p style="color:blue">Diclomol is an anti-inflammatory drug that does not fall under the category of steroids. Diclomol is a painkiller that is non-steroid. It is a combination medicine that it is used to treat pain and inflammation associated with various disorders and conditions. It is also used to treat menstrual cramps. Diclomol is manufactured by Win-Medicare Private Limited.</p>
      <h4 style="color:red">Diclomol Tablet Composition and Nature:</h4>
      <p style="color:blue">Diclomol contains two active ingredients namely Diclofenac and Paracetamol or Acetaminophen. The strength of these components varies according to the strength of the tablet.<br>The following is the composition for Diclomol 50mg tablet:<br>1.Diclofenac Sodium- 50mg
       <br> 2. Paracetamol- 500mg</p>
       <h4 style="color:red">Diclomol Tablet Uses and benefits:</h4>
       <p style="color:blue">Diclomol is mainly used as a pain relieving agent. It is used to ease pain caused due to the following conditions:
   <br> 1. Tendinitis<br> 2. Bursitis<br>3. Dysmenorrhea (menstrual cramps)<br>4. Osteoarthritis<br>5. Rheumatoid arthritis<br> 6. Ankylosing Spondylitis</p>
  <h4 style="color:red">Diclomol Tablet Side Effects:</h4>  
  <p style="color:blue">The side-effects of Diclomol do not always occur. Some of them can be rare, yet may lead to drastic outcomes. Upon experiencing side-effects, a doctor must be consulted.<br>The most common side-effects of Diclomol are:<br>Indigestion
   1. Drowsiness<br>
   2. Dizziness<br>
   3. Itching<br>
   4. Gas/Flatulence<br>
   5.  Allergies<br>
   6. Skin Rashes<br>
   7. Redding of the skin<br>
   8. Nausea and vomiting<br>
   9. Fatigue<br>
   10. Mouth ulcer<br>
  11.Gastritis<br>
   12. Diarrhea<br>
   13. Tinnitus<br>
   14. Cloudy urine</p><br><br>
  <h3 style="color:blue;background-color: lightblue">Doxofylline: Uses, Side Effects and Dosage</h3>
      <p style="color:blue" >Doxofylline is an oral bronchodilator and is used to treat various lung diseases. Doxofylline relaxes the smooth muscles of the air pathway up that leads to the lungs and leads to the helps in smooth functioning. Due to this activity, it is a potent bronchodilator drug. It is used to treat lung disorders and diseases and helps in the maintenance of a smooth respiratory process.<br></p>
      <h4 style="color:red">Uses and Benefits of Doxofylline:</h4>
      <p style="color:blue">The drug is used to treat the following diseases and disorders:<br>
        1.Asthma<br>
        2.Shortness of breath<br>
        3.Tightness in the chest<br>
        4.Constructive Obstructive Pulmonary Disorder (COPD)<br>
        5.Wheezing<br>
        6.Chronic bronchitis<br>
        7.Emphysema<br>
        8.Other obstructive lung disorders<br></p>
       <h4 style="color:red"> Composition and Nature of Doxofylline:</h4>
<p style="color:blue">Doxofylline is sold in the form of round tablets that are small in size and white in colour.<br> The active ingredient in the drug is the compound Doxofylline that is a Xanthine derivative.<br> The chemical formula of Doxofylline is C11H14N4O4. The molar mass of the compound is 266.25 g/mol.

The functional role of Doxofylline is similar to that of Theophylline but with fewer side-effects.</p>
        <h4 style="color:red">Side Effects of Doxofylline:</h4>
        <p style="color:blue">1.Nausea<br>
          A disorder in the heart rhythm<br>
          Vomitting<br>
          Palpitations<br>
          Headaches<br>
          Epigastric pain<br>
          Paroxysmal spasm<br>
          Dizziness<br>
          Increase in blood sugar levels<br>
          Muscle weakness<br>
          Insomnia<br>
          Restlessness<br>
          Stomach upset<br>
          Body tremor<br>
          Biliousness<br></p>
          <h4 style="color:red">Doxofylline Dosage:</h4>
          <p style="color:blue">The dosage and duration prescribed by the doctor must be followed. Doxofylline tablet should be taken orally and must be swallowed as a whole. You should not chew, on it or crush it or break the tablet. The dosage prescribed by the doctor may vary according to your condition. The tablet can be taken with or without food</p>
          </div>
          </div>
          </body>
          </html>