
 <html>
    
  
      <div class="naam">
         <ul>
            <li><a [routerLink]="['/docpage']">Doctor Report</a></li>
            <li> <a [routerLink]="['/edit-user']">Edit-User</a></li>
             <li><a [routerLink]="['/list-user']">List-User</a></li>
             <li><a [routerLink]="['/add-user']">Add-User</a></li>
             <li><a [routerLink]="['/logout']">Logout</a></li>
            </ul>
     </div>
      <body class="moti">  
     <br><br>
     
       </body>
  </html>
     