<!DOCTYPE html>
<html>
<body style="font-size: 20px"><br>
<h1 style="color:blue;text-align: center"><b>Preparing for Your Appointment</b></h1><br>

<ul style="list-style-type:circle;">

<p>Our team of medical providers will work with you to help you meet your health goals. You, your doctor, and the rest of the care team will work together to make your visit as helpful to you as possible. Here are a few things you can do to ensure your appointment is a success:</p>
<img class="manju" src="../../assets/images/p1.jpg" alt="patient" width="250" height="250"  >

<li class="anju">Bring photo identification and your insurance card to every appointment.</li><br>

<li  >Bring your current medications in their original containers to your appointment – including over<br>the-counter medications,prescriptions, and vitamins you take on a regular basis.</li><br>

<li  >Feel welcome to bring a family member or trusted friend with you to your appointment</li><br><br>

<h1 style="color:blue;text-align: center"><b>During Your Appointment</b></h1><br>


<p>Ask the most important questions from your list first and track which questions have been answered.</p>
<li>Be sure you know what you need to do before you leave the office. Repeat the instructions you have been given to your doctor or appropriate member of your care team.</li><br>
<li>Talk to your doctor and care team about what health issues you should work on first.</li><br>
<li>Write down the name of each member of your care team and ask how they can be reached in case you have a question or concern that needs to be addressed.</li><br>
<p>To schedule or re-schedule an appointment, save time or call our practice. Please arrive 15 minutes prior to your scheduled appointment to allow time to check-in. We reserve the right to re-schedule an appointment if you are more than 10 minutes late. Please allow 24-hour notice for appointment cancellations. 
</p>
</ul>
</body>
</html>
