<html>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="navbar">
            
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/home']">Booking</a></li>
            <li><a [routerLink]="['/medicines']">Medicines</a></li>
            <li><a [routerLink]="['/diseases']">Diseases</a></li>
            <li><a [routerLink]="['/instruction']">Instruction</a></li>
           <li><a [routerLink]="['/article']">Article</a></li>
           <li><a [routerLink]="['/aboutus']">About Us</a></li>
           <li><a [routerLink]="['/startpage']">Register</a></li>
           <li><a [routerLink]="['/userlogin']">Login</a></li>
           <li><a [routerLink]="['/home']">Logout</a></li>
            <div class="dropdown">
              <button class="dropbtn">button 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div> 
          </div> 
    <div class = "main"> 
    <marquee class="marq" src="(../../assets/images/hospital.jpg)" direction = "left" loop="" > 
        <div class="geek1">We Care for Your Health Every Moment</div> 
        <div class="geek2" ></div>
    </marquee> 
    </div>
    
    <div>
         <img src="(../../assets/images/10.jpg)"  style="width:100%">
       </div>
      
      
</html>
