<!DOCTYPE html>
<html>
<body>

<ul>
  <li><a  class="active" [routerLink]="['/adminhome']">Home</a></li>
           <li> <a [routerLink]="['/edit-user']">View Doctors</a></li>
            <li><a [routerLink]="['/list-user']">View Patient</a></li>
            <li><a [routerLink]="['/logout']">Patient's Req</a></li>
            <li><a [routerLink]="['/logout']">Doctor's Req</a></li>
            <li><a [routerLink]="['/login']">Logout</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:525px;">
  
</div>

</body>
</html>
