<mat-toolbar color="primary">
      <mat-toolbar-row>
        <!--  <span>HOME</span> -->
         
         <a  mat-button  routerLink="/dregistration">Register</a>
       <a  mat-button  routerLink="/dlogin">Login</a>
          </mat-toolbar-row>
   </mat-toolbar>
   <mat-toolbar>
     <span>Doctor LOGIN</span>
   </mat-toolbar>
   <mat-card class="my-card">
      <mat-card-content>
         <form class="my-form">
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input  matInput  placeholder="Email" name="email">
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Password</mat-label>
               <input  matInput  placeholder="Password" name="password">
            </mat-form-field>
         </form>
      </mat-card-content>
      <mat-card-actions>
         <button mat-raised-button (click)="onSubmit()" color="primary">LOGIN</button>
      </mat-card-actions>
   </mat-card>