
<div class="card" >
  <b> <div class="card-header" style="text-align: center;color:blue;font-size: 30px;">
        Hospital List
    </div></b><br>
<div class="col-md-6 centeralign" >
  <p style="text-align: center">This Page Displays a list of Hospitals</p>
  
  <div class="card centeralign addmargin" style="width: 30rem;" *ngFor="let doctor of doctors">
    <div class="card-body" style="color:palevioletred" (click) = setSelectedDoctor(doctor.name)>
      <h5 class="card-title" style="color:blue">{{doctor.name}}</h5>
      <p class="card-text">{{doctor.email}}</p>
      <p class="card-text">{{doctor.phone}}</p>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
      <a (click)=goToDetailsPage(doctor.id) class="btn btn-primary" style="color:white;background-color: rgb(255, 94, 0)"> more details</a>
      
      
    </div>
    
  </div>

  
</div>