<!DOCTYPE html>
<html>
<body style="background-color:white">    

<p style="color:blue;text-align: center; font-size: 30px; "><b>Diseases and Symptoms</b></p>
 <br>
<div class="container">
  <img src="../../assets/images/dis2.jpg" alt="Avatar" style="width:90px">
  <p style="color:rgb(8, 140, 184)"><span style="color:indigo">Marfan Syndrome</span> They form the organs and body parts.</p>
  <p style="color:palevioletred">If the body of the person is quite thin and their height is also tall, it could be a sign of Marfan syndrome. Since there are many people with such body type, this symptom alone should not be trusted for diagnosing this syndrome.<br>
 -  The body develops fingers, legs and arms in an improper proportion. This can be measured and compared with some people around to know the normal ratio between the size of legs, arms and fingers.</p>
</div>

<div class="container">
  <img src="../../assets/images/dis3.jpg" alt="Avatar" style="width:90px">
  <p style="color:rgb(8, 140, 184)"><span style="color:indigo" >Diverticulitis.</span> This disease is an inflammation of the diverticula.</p>
  <p style="color:palevioletred"> Pain in the abdominal area, in the, left lower part. This is where most often diverticulitis occurs. <br>-  In the left lower abdominal area, tenderness can be experienced.
    <br>-  Fever
    <br>-  White blood cells count surge in the blood.</p>
</div>
<div class="container">
    <img src="../../assets/images/dis4.jpg" alt="Avatar" style="width:90px">
    <p style="color:rgb(8, 140, 184)"><span style="color:indigo" >Peptic Ulcer.</span>  It usually forms due to inflammation caused by erosion of stomach acids</p>
    <p style="color:palevioletred">-People suffering from ulcers experience abdominal discomfort and minimal indigestion that occurs after having meals, or no discomfort at all.<br> -Many people complain of hunger pain or upper abdominal burning which extends to the chest from naval, ranging from mild to severe.<br>-The pain occurs after one to three hours of having the meal, or in some cases may wake you up at night.<br>
    -While some people experience persistent pin even after the complete healing of ulcer by medication, others have no pain at all. </p>
  </div>

</body>
</html>
