
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>homepage</title>

</head>
<body class="bc">

<div class="topnav">
        <ul>
        <li><a [routerLink]="['/front']">DOCTORS</a></li>
        <li> <a [routerLink]="['/doctors']">HOSPITALS</a></li>
        <li><a [routerLink]="['/more']">LOGOUT</a></li>
        </ul>
        </div>
       
 <img  class="ghi" src="../../assets/images/f.jpg">
 <h1 class="pink"><b>Keep your<br>
    Family More Healthy</b></h1>
   

</body>
</html>