
 <html>
  
      <body class="moti">
     <br><br>
     <form  >
     <div class='m' >
      <div class="login">
      <h1>Admin Login</h1>
      <input type="text" placeholder="Username" value="username">  
      <input type="password" placeholder="password" value="password">
      <button class="btton" (click)="login()">LOGIN</button>
      <a href="#" class="forgot"><b>forgot your password?</b></a>
      <a href="#" class="forgot"><b>click here</b></a>
      </div>
      </div>
      <div style="color:rgb(122, 122, 206);text-align:center;font-size: 20px;"><br>
      <p>Term & Condition</p>
      <p> </p>
      <br></div>
      </form>
       </body>
  </html>
     